* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* outline: solid 0.25rem rgba(255, 0, 0, 0.5); */
}


/* ### Navigation Bar #### */

.nav {
    height: 80px;
    max-height: 80px;
    z-index: 99;
    background-color: #f2f2f2;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-top: 10px;
    position: fixed;
    width: 100%;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #555;
    display: flex;
    align-items: center;
    display: flex;
}

.logo img {
    width: 3em;
    margin-right: 0.51em;
    align-items: center;
}

.logo-text {
    font-size: 0.5em;
    color: #004568;
}

.nav a {
    padding: 0.5em;
    text-decoration: none;
    color: #000000;
    font-size: 1em;
    font-weight: bold;
}

.nav li {
    display: inline;
}

.nav ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* ### Home #### */

.container {
    max-height: 90%;
    position: absolute;
    top: 80px;
    width: 100%;
}

.home {
    overflow: hidden;
    max-height: 95vh;
}

.banner {
    height: 95%;
    overflow: hidden;
    object-fit: cover;
    max-width: 100%;
}

.link-boxs {
    width: 50%;
    position: absolute;
    right: 0;
    height: 30%;
    transform: translateY(120%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mahagedara {
    width: 300px;
    display: block;
}

.buttons {
    display: flex;
    width: 75%;
    justify-content: space-evenly;
}

button {
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
    border-radius: 0.8em;
    border: 2px solid white;
    color: white;
    font-size: larger;
    cursor: pointer;
}

.button1 {
    background-color: #102247;
}

.button2 {
    background-color: #026a9f;
}


/* ### Welcome #### */

.page {
    min-height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.right {
    width: 55%;
    position: absolute;
    right: 0;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left {
    width: 50%;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 1.8rem;
    text-align: center;
    width: 90%;
    justify-content: center;
    top: 200px;
    position: relative;
}

.wasara_42 {
    width: 150px;
    height: 150px;
    justify-content: center;
    transform: translate(200%, 25%);
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.down-wave {
    margin: 0;
    padding: 0;
    transform: rotate(180deg) translateY(120%);
}

.up-wave {
    margin: 0;
    padding: 0;
    transform: translate(0, -100%);
}